h1 {
    text-align: center;
    
  
}
body{
    background-color: crimson;
}
a:hover{

    color:yellow;
}


.slides {
    width: 400px;
    margin: auto;
    height: 400px
}

img {
    width: 300px;
    height: 300px;
}


.nxt {
    float: right;
}

.prev {
    float: left;
}
.pic {
    transition: opacity .8s;
}

.fade-out {
    opacity: 0%;
}
