h1 {
    text-align: center;
  }
  
 
  
  .slides {
    width:400px;
    margin:auto;
    height: 400px
  }
  img{
    width: 300px;
    height: 300px;
  }
  

.nxt {
    float:right;
  }

.prev{
    float: left;
}